.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  margin-left: 1rem;
}

html {
  background-color: rgba(0, 72, 255, 0.305);
}

.page {
  margin: 1rem;
}

.post {
  background-image: linear-gradient(360deg, rgb(0, 104, 232) 0%, rgb(0, 167, 233) 60%);
  background-color: rgba(36, 36, 36, 0);
  color: rgb(27, 27, 27);
  margin: 1.2rem 0rem 0rem 0rem;
  width: 70%;
  border-radius: 4px 4px 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.801) 0px 2px 5px 0px;
  background-color: #0a47e300;
  background-color: #00000000;
}
.post-delete {
  font-size: small;
  position: relative;
  margin-left: 0.3rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  width: fit-content;
  padding: 0 0.5rem 0 0.5rem;
  bottom: 0.1rem;
}
.post-delete:hover {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(218, 0, 0, 0.856);
}
.info {
  color: black;
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, rgb(255, 189, 21) 0%, rgba(252,176,69,1) 100%);
  justify-content: space-between;
  border-radius: 4px 4px 0px 0px;
  padding: 0.1rem;
  box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 1px;
  font-family: monospace;
}
.post-author {
  margin: 0rem 0rem 0rem 0.3rem;
  font-weight: bold;
}
.post-time {
  margin: 0rem 0.3rem 0rem 0rem;
}
.post-content {
  height: 3rem;
  margin: 0.1rem 0.3rem 0.3rem 0.3rem;
  font-family: 'Courier New', Courier, monospace;
}

.navigation {
  display: flex;
  justify-content: space-around;
  background-color: #282c34;
  box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 1px;
}

.nav-tab {
  padding: 1rem;
  width: 25%;
  text-align: center;
  color: rgb(243, 243, 243);
  user-select: none;
  -webkit-user-select: none;
}
.nav-tab:hover {
  cursor: pointer;
}
.active{
  color: rgb(17, 17, 17);
  padding: 1rem 1rem 0.5rem 1rem;
  margin: 0rem 0rem 0rem 0rem;
  background: linear-gradient(90deg, rgb(255, 189, 21) 0%, rgba(252,176,69,1) 100%);
  border-radius: 0px 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.801) 0px 0px 4px 0px;
}

.new-post-input {
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.801) 0px 0px 2px 0px;
}

.create-post-button {
  background: linear-gradient(90deg, rgb(255, 189, 21) 0%, rgba(252,176,69,1) 100%);
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: none;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.801) 0px 0px 2px 1px;
}
.create-post-button:hover{
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.input-bar {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 12rem;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.801) 0px 1px 3px 0px;
}

.account-input {
  padding-left: 0.5rem;
  margin-top: 0.2rem;
}

.account-button {
  background-color: rgb(50, 149, 255);
  padding: 0.5rem 1rem 0.5rem 1rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  width: 10rem;
  border-radius: 4px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.801) 0px 1px 3px 0px;
  background: linear-gradient(90deg, rgb(255, 189, 21) 0%, rgba(252,176,69,1) 100%);
}
.account-button:hover {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.login {
  margin: 0rem 0rem 0.5rem 0rem;
}

.search-result {
  background-color: rgba(198, 219, 255, 0.844);
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 12rem;
  position: relative;
  top: -2px;
  border-top: 1px solid rgb(15, 15, 15);
  background: linear-gradient(90deg, rgb(255, 189, 21) 0%, rgba(252,176,69,1) 100%);
  box-shadow: rgba(0, 0, 0, 0.801) 0px 2px 3px 0px;
}
.search-result:hover{
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.no-result-found {
  margin: 0.5rem 0rem 0rem 1rem;
}

.hidden-by-dafault {
  display: none;
}

.account-controls {
  display: flex;
  flex-direction: column;
  width: 12rem;
}

.drop-down-toggle {
  display: flex;
}
.drop-down-toggle:hover {
  cursor: pointer;
}

.triangle {
  
  width: 0; 
  height: 0; 
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  
  border-top: 20px solid rgb(14, 14, 14);
  margin: 0.1rem 0rem 0rem -0.3rem;

  transform: scale(0.4);
  
}

.unclickable {
  opacity: 50%;
  pointer-events: none;
}

.load-more-posts {
  color: blue;
  margin-left: 2rem;
}

.load-more-posts:hover {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.login-page-input {
  display: grid;
  row-gap: 0.3rem;
}

.guide {
  list-style: none;
}

.guide-item {

}
